################
# Automation
################

# Git Hub bot rules
/.github/CODEOWNERS                           @jsquire
/.github/fabricbot.json                       @jsquire

#####################
# Code Generation
#####################

# Catch all
*                                              @m-nash @lirenhe @ArthurMa1978 @hallipr @joshlove-msft
