################
# Automation
################

# Git Hub bot rules
/.github/CODEOWNERS                           @jsquire @ronniegeraghty
/.github/fabricbot.json                       @jsquire @ronniegeraghty

#####################
# Code Generation
#####################

# Catch all
*                                              @m-nash @jsquire @lirenhe @ArthurMa1978 @hallipr @mikeharder
