*       @ShivangiReja @chamons @pakrym

# Management CSharp CodeReviewers
/samples/Azure.Management.Storage             @allenjzhang @m-nash
/samples/Azure.Network.Management.Interface   @allenjzhang @m-nash
/samples/Azure.ResourceManager.Sample         @allenjzhang @m-nash
/src/AutoRest.CSharp/Mgmt                     @allenjzhang @m-nash
/src/AutoRest.CSharp/Common                   @allenjzhang @m-nash
/test/AutoRest.TestServer.Tests/Mgmt          @allenjzhang @m-nash
