<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NugetOfficialV3" value="https://api.nuget.org/v3/index.json" />
    <add key="Klondike" value="https://bk-lib-nuget.agodadev.io/api/odata" />
    <add key="Local" value="tools/localNugetFeed" />
  </packageSources>
</configuration>
